body
{
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaper.dog/large/20354826.jpg");
}

#main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main #divSegundo
{
    width: 60%;
}

h1
{
    color: white;
}

img
{
    width: 400px;
}

#thirdDiv
{
    height: 600px;
    width: 500px;
    background-color: red;
    padding: 50px;
    border: gold solid 10px;
}

#thirdDiv ul
{
    list-style: none;
}

#spanId
{
    font-size: 18px;
    margin: 50px;
    background-color: black;
    color: white;
}

.divClass
{
    text-align: center;
}
